[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "aiogram>=3.20.0.post0",
    "bcrypt>=4.3.0",
    "matplotlib>=3.10.3",
    "python-dotenv>=1.1.1",
    "somewhere>=0.0.1",
]
